<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Contador de progresso físico</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <script>
        function onSubmit(token) {
            document.getElementById("formulario").submit();
        }
    </script>
</head>
<body>
    <?php session_start(); ?>
<div class="container">
    <h2>Login</h2>
    <form id="formulario" action="src/Controller/LoginController.php" method="POST">
        <input type="text" id="email" name="email" placeholder="E-mail" required>
        <br>
        <input type="password" id="password" name="password" placeholder="Senha" required>
        <br>
        <br>
        <button class="g-recaptcha"
                data-sitekey="6Ld8MuUnAAAAABsolEO-SI6jxhwaRgC7xhLb7KCg"
                data-callback='onSubmit'
                data-action='submit'>Entrar</button>
    </form>
</div>
</body>
</html>

