<?php
session_start();

if (!isset($userId)) {
    header("Location: /../../index.phtml");
    exit;
}
?>
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../View/style.css">
    <title>Controle de medidas e peso</title>
</head>
<body>
        <div id="menu">
            <h1>Counter: seus dados de saúde</h1>
        </div>
        <hr>
        <div class="form-group">
            <h1>Inserir um registro novo:</h1>

            <form action="../Controller/FormController.php" method="POST">
                <input type="text" id="peso" name="peso" required>
                <br>
                <button type="submit">Salvar</button>
            </form>
        </div>
</body>
</html>
