body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f5f5f5;
    flex-direction: column;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    width: 80%;
    max-width: 400px;
    padding: 30px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

input {
    width: 91%;
    padding: 4%;
    margin-bottom: 10%;
    border: 1px solid #ccc;
    border-radius: 9px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Estilos para o menu */
#menu {
    background-color: #333;
    color: #fff;
    padding: 10px;
    position: absolute;
    top:5%;
}

#menu a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
}

hr {
    border: none;
    border-top: 1px solid #333;
    width: 100%;
    margin: 0;
    padding: 3%;
}